<html>
  <body>
    <h1>My FQDN is <%= node['fqdn']%> </h1></br>
	<h6>My platform is <%= node['platform']%></h6></br>
	<h6>My IPAddress is <%= node['ipaddress']%></h6></br>
	<h6>My hostname is <%= node['hostname']%></h6></br>
	<h6>My domain is <%= node['domain']%></h6></br>
	<h6>My role is <%= node['role']%></h6></br>
	<h6>My recipes is <%= node['recipes']%></h6></br>
  </body>
</html>
