<html>
<head>
<title> Chef demo </title>
</head>
  <body>
    <h1>My FQDN is <%= node['fqdn']%> </h1></br>
	<h4>My platform is <%= node['platform']%></h4></br>
	<h4>My IPAddress is <%= node['ipaddress']%></h4></br>
	<h4>My hostname is <%= node['hostname']%></h4></br>
	<h4>My domain is <%= node['domain']%></h4></br>	
	<h4>My recipes is <%= node['recipes']%></h4></br>	
  </body>
</html>
